useDynLib(mungebitsTransformations)
exportPattern(".*numeric_to_factor.*")
export(column_transformation)
export(date_parser)
export(discretizer)
export(drop_single_value_variables)
export(drop_variables)
export(imputer)
export(multi_column_transformation)
export(numeric_to_factor)
export(orderer)
export(renamer)
export(select_rows)
export(select_variables)
export(standard_column_format)
export(sure_independence_screen)
export(value_replacer)
importFrom(Ramd,pp)
importFrom(arules,discretize)
importFrom(statsUtils,sure_independence_screening)
importFrom(stringr,str_replace_all)
importFrom(stringr,str_trim)

